body {
  margin: 0;
}
.googlemap {
  background-color: violet;
  width: 600px;
  height: 300px;
  margin: 20px auto;
}

.title {
  text-align: center;
}

img {
  background-color: turquoise;
  height: 200px;
  width: 200px;
}

.cafe-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.cafe-lists {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
